/* styles.css */
body {
    background-color: paleturquoise;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace; 
    text-decoration: underline;
}
li, p, a {
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;

}
.navbar{
    text-align: center;
    padding: 20px;
}
ul{
    list-style-type: none;
}

.card{
    border: 10px solid black;
    text-align: center;
    display: block;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}
.recipe{
    border: 10px solid black;
    text-align: center;
    display: block;
    padding: 40px;
    margin: 20px;
    background-color: antiquewhite;
}