/* styles.css */
*{
    font-family:'Courier New', Courier, monospace;
}
body {
    background-color: paleturquoise;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace; 
    text-decoration: underline;
}
li, p, a {
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;

}
.navbar{
    display: flex;
    padding: 16px;
    border: 4px solid black;
    margin: 4px;
    justify-content: center;
    gap: 400px;


}

.home{
    margin-right: auto;
}
ul{
    list-style-type: none;
}

.card{
    border: 10px solid black;
    text-align: center;
    display: block;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}
.recipe{
    border: 10px solid black;
    text-align: center;
    display: block;
    padding: 40px;
    margin: 20px;
    background-color: antiquewhite;
}
.container-flex{
    background-color: aqua;
    padding: 16px;
    border: 4px solid black;
    display: flex;
    margin: 4px;
    margin-top:8px;
    flex-direction: column;

}
.item{
    background-color: peachpuff;
    border: 4px solid salmon;
    padding: 40px;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 10px;
    
}
html, body {
    height: 100%;
}